body {
  margin: 0;
  height: 100vh;
  background-color: #3b4a6b;
  color: #e7e7e7;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #58698e;
  padding: 8px 0;
}

a {
  text-decoration: none;
  font-size: 1.1em;
  color: #e7e7e7;
}

#logoNav {
  width: 50vw;
  max-width: 500px;
}

#content {
  height: 100%;
}

#navBar {
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#navLinks {
  background: #242c41;
  width: 100%;
  flex-direction: column;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.navItem {
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 1s;
  font-size: 1.5em;
}

.navItem:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.notHidden {
  display: flex;
}

#menuBtn {
  width: 2em;
  height: 2em;
  margin-left: auto;
  cursor: pointer;
}

.active {
  color: #e0b54f;
}

@media screen and (min-width: 850px) {
  #menuBtn {
    display: none;
  }
  #navLinks {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .navItem {
    margin: 0;
  }

  #navBar {
    flex-wrap: nowrap;
  }

  .active {
    font-size: 2rem;
  }
}
